[Unit]
After=network.target
Description=DynDns app

[Service]
AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStart=/usr/local/rvm/bin/rvm ruby-2.7.0@crypto_libertarian-dyndns do /opt/dyndns/exe/crypto_libertarian-dyndns
Group=dyndns
Restart=always
RestartSec=1
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=dyndns
Type=simple
User=dyndns
WorkingDirectory=/opt/dyndns

[Install]
WantedBy=multi-user.target
