[Unit]
After=network.target
Description=Report IP web app

[Service]
ExecStart=/usr/local/rvm/bin/rvm ruby-2.7.0@crypto_libertarian-report_ip do puma --environment production
Group=report_ip
Restart=always
RestartSec=1
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=report_ip
Type=simple
User=report_ip
WorkingDirectory=/opt/report_ip

[Install]
WantedBy=multi-user.target
