[Unit]
After=network.target
Description=Matrix Static

[Service]
ExecStart={{ matrix__static__opt_dir }}/bin/matrix-static --config-file {{ matrix__static__conf_file }}
Group={{ matrix__static__group }}
Restart=always
RestartSec=1
StandardOutput=syslog
StandatdError=syslog
SyslogIdentifier={{ matrix__static__service }}
Type=simple
User={{ matrix__static__user }}
WorkingDirectory={{ matrix__static__opt_dir }}

[Install]
WantedBy=multi-user.target
