[Unit]
After=network.target
Description=Matrix Synapse

[Service]
ExecStart={{ matrix__synapse__venv_dir }}/bin/synctl --no-daemonize start {{ matrix__synapse__conf_subdir }}
Group={{ matrix__synapse__group }}
Restart=always
RestartSec=1
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier={{ matrix__synapse__service }}
Type=simple
User={{ matrix__synapse__user }}
WorkingDirectory={{ matrix__synapse__opt_dir }}

[Install]
WantedBy=multi-user.target
